#Dataset Description

We will load and process a car price dataset, based on UCI's machine learning dataset https://archive.ics.uci.edu/ml/datasets/automobile 
The dataset column name and type : 
1. `symboling`: -3, -2, -1, 0, 1, 2, 3.
2. `normalized_losses`: continuous from 65 to 256.
3. `make`: alfa-romero, audi, bmw, chevrolet, dodge, honda, isuzu, jaguar, mazda, mercedes-benz, mercury, mitsubishi, nissan, peugot, plymouth, porsche, renault, saab, subaru, toyota, volkswagen, volvo
4. `fuel_type`: diesel, gas.
5. `aspiration`: std, turbo.
6. `num_of_doors`: four, two.
7. `body_style`: hardtop, wagon, sedan, hatchback, convertible.
8. `drive_wheels`: 4wd, fwd, rwd.
9. `engine_location`: front, rear.
10. `wheel_base`: continuous from 86.6 120.9.
11. `length`: continuous from 141.1 to 208.1.
12. `width`: continuous from 60.3 to 72.3.
13. `height`: continuous from 47.8 to 59.8.
14. `curb_weight`: continuous from 1488 to 4066.
15. `engine_type`: dohc, dohcv, l, ohc, ohcf, ohcv, rotor.
16. `num_of_cylinders`: eight, five, four, six, three, twelve, two.
17. `engine_size`: continuous from 61 to 326.
18. `fuel_system`: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi.
19. `bore`: continuous from 2.54 to 3.94.
20. `stroke`: continuous from 2.07 to 4.17.
21. `compression_ratio`: continuous from 7 to 23.
22. `horsepower`: continuous from 48 to 288.
23. `peak_rpm`: continuous from 4150 to 6600.
24. `city_mpg`: continuous from 13 to 49.
25. `highway_mpg`: continuous from 16 to 54.
26. `price`: continuous from 5118 to 45400

In [ ]:
#import the necessary packages
import pandas as pd
import numpy as np

Copy the dataset

In [ ]:
!wget https://www.dropbox.com/s/4ljhg9kq2o0uvt4/auto_price_raw.csv

--2021-09-14 14:21:11--  https://www.dropbox.com/s/4ljhg9kq2o0uvt4/auto_price_raw.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/4ljhg9kq2o0uvt4/auto_price_raw.csv [following]
--2021-09-14 14:21:11--  https://www.dropbox.com/s/raw/4ljhg9kq2o0uvt4/auto_price_raw.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc1567ceb013d5d38628f3c2a912.dl.dropboxusercontent.com/cd/0/inline/BWI1FZB6eFzIX0LJEbLvQ2v9d1PPpV6HN2X9mJXpKo47xL-ElJ-ETpw2W3Bg5frOrcWWlotm7AENEZm4L3aFp6SF0RuPDJMMOxkTTec9av78OTXeadkutCjVcg3BhybLR77Jw47-ocI64qw5882VcgCw/file# [following]
--2021-09-14 14:21:12--  https://uc1567ceb013d5d38628f3c2a912.dl.dropboxusercontent.com/cd/0/inline/BWI1FZB6eFzIX0LJEbLvQ2v9d1PPpV6HN2X9mJXpKo47xL-ElJ-ETpw2W3Bg5frOrcWWlotm7AENEZm4L3aFp6SF0RuPDJMMOxkTTec9av78OTXeadkutCjVcg3BhybLR77Jw47-ocI64qw5882VcgCw/file
Resolving uc1567ceb013d5d38628f3c2a912.dl.dropboxusercontent.com (uc1567ceb013d5d38628f3c2a912.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to uc1567ceb013d5d38628f3c2a912.dl.dropboxusercontent.com (uc1567ceb013d5d38628f3c2a912.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26218 (26K) [text/plain]
Saving to: ‘auto_price_raw.csv’

auto_price_raw.csv  100%[===================>]  25.60K  --.-KB/s    in 0.02s

2021-09-14 14:21:12 (1.34 MB/s) - ‘auto_price_raw.csv’ saved [26218/26218]

##Load data into dataframe

##Quick check the dataset

##Missing Values

Find any missing/invalid data. Missing data in this dataset is represented with '?'.
Replace them with NaN.

Refer to dataset description, and convert the columns with continuous data type that loaded as Pandas `object` into `float` type

Recheck the dataset statistics

Remove `normalized_losses` column, since it has too many missing value

Remove all rows with NaN

##Invalid Values

Check the `fuel_type` and `body_style` column and replace the invalid data accordingly.

##Recheck the dataframe after cleansing

##Save the dataframe

Save to `auto_price_cleaned.csv` file