# Pandas Basic in A Notebook

In [ ]:
#Release: 1.2109.1901

In [ ]:
import pandas as pd
import numpy as np

#Series

Pandas series adalah kumpulan object satu dimensi yang mirip dengan array

##Creating Series

Deklarasi pandas series menggunakan list

In [ ]:
s = pd.Series([1, 'Hello', 3.14, 'World!', True])
s

Deklarasi pandas series menggunakan dictionary

In [ ]:
f = {"apples": 10, "bananas": 20, "cherries": 50, "pears": 30}
fs = pd.Series(f)
fs

##Series Operation

In [ ]:
print(fs['bananas'])      #accessing item

In [ ]:
print(fs[:2])             #accessing items with index slicing

In [ ]:
fs['cherries']+=5         #updating an item
print(fs)

In [ ]:
print('grapes' in fs)    #check membership
print('pears' in fs)     #check membership

In [ ]:
print(fs/10)              #math operation

#DataFrames

Pandas DataFrame adalah kumpulan object berbentuk tabular yang memiliki struktur kolom dan baris, mirip pada database

##Creating DataFrames

###Create from series

In [ ]:
# Dataframe from Series
fruits = {"apples": 10, "bananas": 20, "cherries": 50, "pears": 30}
quantity = pd.Series(fruits)

prices = {"apples": 1000, "bananas": 500, "cherries": 750, "pears": 900}
price = pd.Series(prices)

df = pd.DataFrame({'quantity':quantity, 'price':price})

In [ ]:
# tampilkan df

###Create from dictionary

In [ ]:
#Dataframe from dictionary
f = {'name':["apples", "bananas", "cherries", "pears", "pears"],
    'quantity':[20, 20, 50, 30, 40],
    'price':[1000,500,750,900,950]}
    
df = pd.DataFrame(f)

In [ ]:
# tampilkan df

###Create from csv file

Fungsi **read_csv** dapat digunakan untuk membaca file csv ke dalam pandas dataframe

In [ ]:
# load the california housing csv file from sample_data
df_housing = __

In [ ]:
# tampilkan df_housing

###Create from JSON file

Fungsi **read_json** dapat digunakan untuk membaca file csv ke dalam pandas dataframe

In [ ]:
# load Anscombe's quartet data from sample_data
df_anscombe = __

In [ ]:
# tampilkan df_anscombe

##Accessing DataFrame

###DataFrame quick checking

some useful commands to quick check a dataframe : `info(), head(), tail(), sample(), describe()`

In [ ]:
# tampilkan struktur df menggunakan fungsi info

In [ ]:
# tampilkan 10 record pertama dari df menggunakan fungsi head

In [ ]:
# tampilkan 10 record terakhir df menggunakan fungsi tail

In [ ]:
# tampilkan sample records secara acak menggunakan fungsi sample

In [ ]:
# tampilkan nilai statistik df dengan fungsi describe

In [ ]:
# untuk memudahkan pembacaan dapat menambahkan fungsi transpose
df.describe().transpose()

###Selecting rows or columns

In [ ]:
# mengakses data menggunakan index --> [idx:pos]
df[2:4]

In [ ]:
# kolom dapat dianggap sebagai sebuah atribut
df.price

In [ ]:
# menampilkan kolom berdasarkan nama
df[["price"]]   #accessing column by name

In [ ]:
# menampilkan lebih dari satu kolom
df[['name','price']]

In [ ]:
df[df['quantity'] > 20]     #filtering/select rows

In [ ]:
# filter untuk nama = 'pears' atau price > 900
df[(df.name == 'pears') | (df.price > 900)]

In [ ]:
# filter untuk price antara 900 dan 1000
df[(df.price > 900) & (df.price < 1000)]

In [ ]:
# tampilkan data dengan kolom name dan price yang memiliki harga > 750

###Select unique values

In [ ]:
# menampilkan nilai unik dari nama
df['name'].unique()

###Sorting rows

In [ ]:
df.sort_values("quantity")

In [ ]:
# mengurutkan dari yang terbesar dengan menset parameter ascending = False
df.sort_values("quantity", ascending = False)

In [ ]:
df.sort_values(["quantity","price"]) #sort by multiple columns value

In [ ]:
df.sort_values(["quantity","price"], ascending=[1, 0])

##Updating a DataFrame

###Adding rows

In [ ]:
#append a row from dictionary

new_rec = {'name': "grapes", 
        'quantity': 30,
        'price':1200}
df1 = df.append(new_rec, ignore_index=True)
df1

Append multiple rows --> combine dataframes

In [ ]:
new_rec = {'name':["apples", "grapes", "oranges"],
        'quantity':[25, 30, 20],
        'price':[800,1200,700]}

dfnew = pd.DataFrame(new_rec,index=[6, 7, 8])

In [ ]:
dfnew

In [ ]:
df2 = df1.append(dfnew)
df2

###Adding columns

In [ ]:
df2['total'] = df2['price'] * df2['quantity']
df2

###Deleting columns or rows

**Deleting a column**

In [ ]:
df2.drop('total', axis = 1) #set the parameter axis = 1

In [ ]:
df2

To delete column in the original dataframe, set `inplace = True`

In [ ]:
df2.drop('total', axis = 1, inplace = True) #set the parameter axis = 1
df2

Deleting a row by index

In [ ]:
df2.drop(4)

In [ ]:
df2

Deleting rows by condition

In [ ]:
df2.drop(df2[df2.quantity < 30].index)

###Updating a column

In [ ]:
df2['quantity'] = df2['quantity'] * 1000
df2

###Updating rows

In [ ]:
#update rows based on some conditions
df2.loc[df2['name'] == 'pears', 'quantity'] = 60000 

df2

##Combining DataFrame - Join by columns

In [ ]:
colors = pd.DataFrame({'name':["apples", "bananas", "pears", "grapes", "cherries", "plum"], 
                       'color':['red', 'yellow', 'green', 'purple', 'red', 'purple']})
colors

In [ ]:
pd.merge(df2, colors, on='name', how='inner')

In [ ]:
df3 = pd.merge(df2, colors, on='name', how='outer')
df3

# Revision History

Release: 1.2109.1901

* Code cleanup