# Python Essential  in A Notebook

In [ ]:
#Release: 1.2109.1901

# 1. Python Basic Syntax

## Lines and Indentation

Pada Python, setiap statement dipisahkan oleh baris

In [ ]:
i = 12
j = 2
k = i + j
print(k)

Setiap block statement memiliki indent yang sama

In [ ]:
if i > j:
   print("True")
   print("Nilai i: ", i, " dan nilai j: ", j)
else:
   print("False")

Jalankan kode di bawah ini, perhatikan apa yang akan terjadi dan kenapa

In [ ]:
if 3 > 2:
print("True")
else:
print("False")

In [ ]:
if 3 > 4:
  print("True")
else:
 print("False")

In [ ]:
if 3 > 2:
   print("True")
 print("False")

In [ ]:
if 3 > 2:
   print("True")
print("False")

Semua baris yang memiliki indent  dengan jumlah spasi yang sama akan membentuk blok.

In [ ]:
a = 11
if a > 2:
  print("Greater than 2")
  if a > 10:
    print("Greater than 10")
    print("A pretty big number")
  else:
    print("Not greater than 10")
  
else:
 print("Not greater than 2")
 print("Still the same else block")

print("Print no matter what")

## Multiline Statements

Beberapa cara penulisan untuk multiline statement

In [ ]:
print("This is a \
multiline \
statement")

print("This is a " 
      "multiline "
      "statement ")

a = 100 + \
    100 + \
    100
a

## Multiple Statements in A Line

Jika ingin menuliskan lebih dari satu statement perbaris, maka digunakan **semicolon (;)** sebagai pemisah antar statement

In [ ]:
a = 10; b = a + 2; print(b)

## Python Block of Code

Berikut contoh penulisan block pada Python

In [ ]:
if True:
   print("Answer:")
   print("True")
else:
  print("Answer:")
  print("False")

In [ ]:
if True:
    print("Answer:")
    print("True")
else:
    print("Answer:")
print("False")

## Python Comments and Docstring

Komentar akan didahului dengan tanda **#**

In [ ]:
# This is a line of comment

In [ ]:
# This is a comment
print("Hello Python!") # This line prints : Hello Python!

print("This is " #this is a comment
      "a multiline statement")

**docstring** digunakan untuk mendokumentasikan modul, kelas, fungsi, atau metode, sehingga programmer dapat memahami apa yang dilakukannya tanpa harus membaca detail kodenya.

In [ ]:
def mysqrt(n):     
  '''Takes in a number n, returns the square of n'''

  return n**2

mysqrt.__doc__

## Print

In [ ]:
x = 2
print('Value of x:', x)

Format **print** untu nilai integer and float

In [ ]:
# print integer and float value
print("Total: %2d, Average: %5.2f" % (1, 05.333))

In [ ]:
# print integer value
print("Total students: -%3d-, Boys : -%3d-" % (247, 1))

## Variable

setiap variable tidak perlu didefinisikan type-nya terlebih dahulu. Type variable akan mengikuti nilai yang diberikan ke sebuah variabel

In [ ]:
x = 2
type(x)

In [ ]:
x = 'dua'
type(x)

#2. Python Numbers

## Integer

In [ ]:
my_num = 7
my_num

In [ ]:
print(my_num)

In [ ]:
print('Value:', my_num)

In [ ]:
type(my_num)

In [ ]:
print(isinstance(my_num, int))
print(isinstance(my_num, float))

In [ ]:
my_num = int('7')
print(my_num)
print(type(my_num))
print(isinstance(my_num, int))

## Float

In [ ]:
my_fnum = 1.0
print(my_fnum)
print(type(my_fnum))
print(isinstance(my_fnum, float))

In [ ]:
my_fnum = float(my_num)
print(my_fnum)
print(type(my_fnum))
print(isinstance(my_fnum, float))

Pembagian type `int` akan menghasilkan `float`

In [ ]:
num1 = 4
num2 = 2
print(type(num1))
print(type(num2))

In [ ]:
num3 = num1 / num2
print(num3)
type(num3)

In [ ]:
from fractions import Fraction

my_fraction = Fraction(8, -10)
print(my_fraction)
type(my_fraction)

# 3. Strings

String diidentifikasikan dengan tanda **petik tunggal (')** atau **petik ganda (")** yang mengapitnya

In [ ]:
str1 = 'Hello world!'
str2 = "This is a Python string."

In [ ]:
# tampilkan str1 dan str2

In [ ]:
# tampilkan tipe dari str1 dan str2 dengan menggunakan fungsi type

Untuk mengetahui panjang string dapat menggunakan fungsi **len**

In [ ]:
# tampilkan panjang str2

Menampilkan tanda petik tunggal atau petik ganda dalam string

In [ ]:
print('allows embedded "double" quotes')

In [ ]:
print("allows embedded 'single' quotes")

Tanda 3 kali petik dapat digunakan untuk penulisan string yang memiliki lebih dari satu baris

In [ ]:
print('''Three single 
quotes''')

print("""Three double 
quotes""")

In [ ]:
print("This is multi\
line statement.")
print("""This is multi
line string.""")

Karakter khusus: **tab, newline dan backspace**

In [ ]:
print("this is tab\t.")

In [ ]:
print("this is new\nline.")

In [ ]:
print("this is backspace\b.")

Mengakses elemen pada string

In [ ]:
mystring = 'Apa kabar dunia!'
print(mystring)

Mengakses huruf pertama

In [ ]:
print(mystring[0])

Mengakses huruf ke 4 sampai 10

In [ ]:
print(mystring[4:10])

Mengakses huruf ke 4 hingga terakhir

In [ ]:
print(mystring[4:])

Mengakses huruf pertama hingga 10 dari akhir

In [ ]:
print(mystring[:-10])

##Updating string

String pada python adalah **immutable**. Tidak dapat diubah atau diupdate, Untuk mengubahnya harus membuat string yang baru.

In [ ]:
str2 = "This is a Python string."
print(str2)

In [ ]:
print(str2.replace('i','_'))

In [ ]:
print(str2)

In [ ]:
A = "Hello World!"
A[5] = 'a'

##String Operators

In [ ]:
#checking containments
str2 = "This is a Python string."
print('x' in str2)
print('x' not in str2)

In [ ]:
#concatenation 
print(str2 + " You know.")
print(str2)

In [ ]:
#multiplication --> adding string to itself n times
str1 = 'Hello world!'
print(str1 * 3)
print(3 * str1)

In [ ]:
str1 = 'Hello world!'
print("Minimun char in str1: \'"+ min(str1) + "\'")
print("Maximun char in str1: \'"+ max(str1) + "\'")

##String methods

Untuk mengetahui panjang sebuah string dapat menggunakan fungsi **len**

In [ ]:
# tampilkan panjang string str2

Method **count** pada string digunakan untuk mencari jumlah kemunculan sebuah string

In [ ]:
# berapa kali 'is' muncul pada str2 ?

Method **lower** digunakan untuk merubah string menjadi huruf kecil (lower case)

In [ ]:
# tampilkan str2 sebagai lower case

Method **find** digunakan untuk mencari posisi pertama kali ditemukannya sebuah substring

In [ ]:
# cari lokasi is pada str2
print(str2.find("is"))

In [ ]:
# cari lokasi is pada str2 dimulai dari index ke 3
print(str2.find("is",3))

List lengkap method pada string --> https://docs.python.org/3/library/stdtypes.html#string-methods

##String Formatting Operators

see complete doc in https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting

In [ ]:
planet = 'Earth'
radius = 6371
print ("The %s radius is %d km!" % (planet,  radius))

In [ ]:
a = 'Mars'; b = 3389.5
print ("The __ radius is __ km!" % (a,  b))  # b dalam desimal 
print ("The __ radius is __ km!" % (a,  b))  # b dalam float

In [ ]:
#the f-string formatter
print(f"The {planet} radius is {radius} km!")

In [ ]:
#the format() method
print("The {0} radius is {1} km!".format(planet, radius))
print("The {a} radius is {b} km!".format(a="Mars", b=3389.5))

#4. List

List adalah sekumpulan object yang ditandai dengan **kurung siku**

List adalah mutable, sehingga dapat diupdate atau diubah

In [ ]:
list1 = ['apple', 'banana', 'strawberry', 100, 100, 200, 10/3]
list1

In [ ]:
# tampilkan panjang list1 menggunakan fungsi len

##Accessing elements

In [ ]:
# tampilkan element pertama dari list1

In [ ]:
# tampilkan semua elemen list1 mulai dari elemen ke 3

In [ ]:
# tampilkan mulai dari elemen pertama hingga elemen ke 3 dari akhir (dengan notasi -)

##Updating a list

In [ ]:
# ubah elemen ke 2 menjadi 'cherry'

##Deleting element

In [ ]:
#delete by index
del list1[2]

In [ ]:
list1[2]

In [ ]:
print ("After deleting value at index 2 : ", list1)

In [ ]:
#delete by item
list1.remove(100)
print ("After deleting value 100 : ", list1)

##Appending list

In [ ]:
#Appends object obj to list
list1.append("tomato")
print ("After append  : ", list1)

#Appends the contents of seq to list
list2 = ['red', 'green', 'blue']
list1.extend(list2)
print ("After appends : ", list1)

#Appends list object to list
list1.append(list2)
print ("After appends : ", list1)

# 5. Tuple


Tuple is **immutable** collection of objects

Tuples use **parentheses**, whereas lists use **square brackets**.

In [ ]:
col_01 = []
col_02 = ()

print('Type of collection 01:', type(col_01))
print('Type of collection 01:', type(col_02))

In [ ]:
tuple01 = ('sun', 'mon', 'tue', 1, 2/7, ['a','b'])
tuple01

##Accessing tuple elements

In [ ]:
print(tuple01[0])
print(tuple01[3:])
print(tuple01[:-3])

##Updating tuple

In [ ]:
#Tuple is immutable, updating is not possible
#tup1[1] = 'sat'
print(tuple01)

##Tuple operations

In [ ]:
#concatenation
print(tuple01 + (1,2,3))

#multiplication
print(tuple01 * 2)

#len
print(len(tuple01))

#check containment
print(1 in tuple01)
print(1 not in tuple01)

# Sequence Operation


Sequence is collection of objects whose contents can be accessed via "**indexing**"

Most common used sequence: **Strings, Lists, Tupples**

In [ ]:
a = 'Hello '
len(a)

### Indexing and Slicing

In [ ]:
b = [1, 2, 3, 4, 5]
len(b)

In [ ]:
b[0]

In [ ]:
b[0:3]

In [ ]:
b[:3]

In [ ]:
print( b[3] + b[-4])

In [ ]:
a = 'Hello World!'
print( a[-6:] + a[:5])

In [ ]:
#iteration
for item in a:
  print(item)

### Concatenation

In [ ]:
#concatenation string
a = 'Hello '
print( a + 'World!' )

In [ ]:
#concatenation list
b = [1 , 2]
c = ['a', 'b']
print( b + c )

In [ ]:
type(b)

In [ ]:
#sequence multiplication
a = 'Hello World!'
print( a * 3 )

b = 1, 2, 3, 4
print( b * 2 )

In [ ]:
#membership testing
a = 'Hello World!'
print( 'Hello' in a )

b = [1, 2, 3, 4]
print( 7 in b )

#6. Conditional Statement

##Truth value testing

In [ ]:
#python consider Null, empty sequences, and 0 as False and other as True

print("Nonzero number = {0}, zero number = {1}".format(bool(1), bool(0)))
print("String with value = {0}, empty string = {1}".format(bool('some string'), bool('')))

In [ ]:
list1 = []; list2 = [1,2]
print("List with value = {0}, empty list = {1}".format(bool(list2), bool(list1)))

In [ ]:
tuple1 =(); tuple2 = 1,2,3
print("Tuple with value = {0}, empty tuple = {1}".format(bool(tuple2), bool(tuple1)))
print("Null value = {0}".format(bool(None)))

##Combining logic statement

In [ ]:
stat1 = True
stat2 = False
stat3 = 247
stat4 = []

print("[1,2,3] != [3,2,1] = {0}".format([1,2,3] != [3,2,1]))
#print("{1,2,3\} != \{3,2,1\} = {0}".format({1,2,3} != {3,2,1}))
print("True and False = {0}".format(stat1 and stat2))
print("True and 247 = {0}".format(stat3 and stat1))
print("True and empty list = {0}".format(stat4 and stat1))

print(100 and True and 200)

##Simple `if` statement

In [ ]:
statement = True
if statement:
    print('statement is True')
    
if not statement:
    print('statement is not True')

In [ ]:
empty_list = []
if empty_list:
    print('empty list is considered True')
    
if not empty_list:
    print('empty list is considered False')

##`if-else` statement

In [ ]:
statement = True
if statement:
    print('statement is True')
else:
    print('statement is not True')

In [ ]:
zero_num = 0
if zero_num:
    print('zero is considered True')
else:
    print('zero is considered False')

##nested `if` statement

In [ ]:
mynum = 6
if mynum <= 10:
  print("Less than or equal to 10")
  if mynum != 5:
    if mynum < 5:
      print("Less than 5")
    else:
      print("It's either 6, 7, 8, 9 or 10")
  else:
    print("5")
else:
  print("Greater than 10")
  if (mynum <= 1000):
    print("Less than 1000")
  else:
    print("Pretty big number")

print("print anyway")

##`elif` statement

In [ ]:
mynum = 60
if mynum <= 5:
  print("Less than or equal to 5")
elif mynum <= 10:
  print("It's either 6, 7, 8, 9 or 10")
elif mynum <= 100:
  print("Between 11 and 1000")
else:
  print("Pretty big number")

#7. Looping and Iteration

##`while` loop

In [ ]:
a = 0
while a <= 10:
  print("current a : %d" % a)
  a = a + 1

##`for` loop

In [ ]:
my_fruit = ['apple', 'banana', 'strawberry', 'cherry', 'grape']
for i in my_fruit:
  print("Let's eat %s!" % i)

Nested loop for handling list of lists

In [ ]:
transportations = [['plane', 'helicopter', 'hot air balloon'], 
         ['bus', 'train', 'truck', 'car'],
         ['ship', 'boat', 'canoe', 'raft']]

for i in transportations:
  print('these are belong in the same group:')
  for y in i:
    print('\t- %s' % y)

#8. Function
##Simple Function

In [ ]:
#simple function
def hello_world():
  print("Hello World!")

#call the function
hello_world()

In [ ]:
#function with 1 parameter
def hello(name):
  """This function prints out greeting. 
  It received 1 parameter"""
  print("Hello %s!" % name)

#call the function
hello("World")
hello("there")

In [ ]:
#function return value
def plus(num1, num2):
  result = num1 + num2
  print("{0} + {1} = {2}".format(num1,num2,result))
  return result

#call the function
plus(10,3)

In [ ]:
#lambda function
def adds(a,b): 
    return a+b

lambda_adds = lambda a,b: a+b

print(adds(4,5)) # using def function
print(lambda_adds(4,5)) # using lambda function
print((lambda a,b: a+b)(4,5)) # using anonymous lambda function

#9. File Handling

In [ ]:
import os
os.getcwd()
os.listdir('sample_data')

In [ ]:
my_file = open('sample_data/README.md')
my_file

In [ ]:
try:
  my_file=open('sample_data/README.md')
finally:
  my_file.close()
  print("close")

In [ ]:
with open('sample_data/README.md') as my_file:  #use 'with' statement to make sure file handle closed after finish
  print(my_file.read(30)) #read 30 bytes from the last position
  print(my_file.tell()) #show position in file
  print(my_file.seek(30)) #go to position 30 
  print(my_file.read(35)) #read 35 bytes from the last position
  print(my_file.tell())

  print(my_file.readline()) #read a line (read until finding newline)

  #my_file.seek(0) #go to the beginning of the file
  lines = my_file.readlines()
  for line in lines:
    print(line, end='')

# Revision History

Release: 1.2109.1901

* Code cleanup