Python basics in a notebook

#1. Python Basic Syntax

## Lines and Indentation

The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount

In [ ]:
if 3 > 2:
   print("True")
else:
   print("False")

True

Run the following codes to see the different outputs and why :

In [ ]:
if 3 > 2:
print("True")
else:
print("False")

IndentationError: ignored

In [ ]:
if 3 > 2:
  print("True")
else:
 print("False")

True

In [ ]:
if 3 > 2:
   print("True")
print("False")

True
False

In [ ]:
if 3 > 2:
   print("True")
 print("False")

IndentationError: ignored

All the continuous lines indented with same number of spaces would form a block.

In [ ]:
a = 11
if a > 2:
  print("Greater than 2")
  if a > 10:
    print("Greater than 10")
    print("A pretty big number")
  else:
    print("Not greater than 10")
  
else:
 print("Not greater than 2")
 print("Still the same else block")

print("Print no matter what")

Greater than 2
Greater than 10
A pretty big number
Print no matter what

#Multiline Statements

In [ ]:
print("This is a \
multiline \
statement")

print("This is a " 
      "multiline "
      "statement ")

a = 100 + \
    100 + \
    100
a

This is a multiline statement
This is a multiline statement

300

#Multiple statements in a line

In [ ]:
a = 10; b = a + 2; print(b)

12

##Python Block of Code

In [ ]:
if True:
   print("Answer:")
   print("True")
else:
  print("Answer:")
  print("False")

Answer:
True

In [ ]:
if True:
    print("Answer:")
    print("True")
else:
    print("Answer:")
print("False")

Answer:
True
False

##Python Comments and Docstring

In [ ]:
# This is a comment
print("Hello Python!") # This line prints : Hello Python!

print("This is " #this is a comment
      "a multiline statement")

Hello Python!
This is a multiline statement

In [ ]:
def mysqrt(n):     
  '''Takes in a number n, returns the square of n'''
  return n**2

mysqrt.__doc__

'Takes in a number n, returns the square of n'

#2. Python Numbers
##Integer

In [ ]:
my_num = 7
print(my_num)
print(type(my_num))
print(isinstance(my_num, int))
print(isinstance(my_num, float))

7
<class 'int'>
True
False

In [ ]:
my_num = int('7')
print(my_num)
print(type(my_num))
print(isinstance(my_num, int))

7
<class 'int'>
True

##Float

In [ ]:
my_fnum = 1.0
print(my_fnum)
print(type(my_fnum))
print(isinstance(my_fnum, float))

1.0
<class 'float'>
True

In [ ]:
my_fnum = float(my_num)
print(my_fnum)
print(type(my_fnum))
print(isinstance(my_fnum, float))

7.0
<class 'float'>
True

Division of `int` numbers produces `float`

In [ ]:
num1 = 4
num2 = 2
print(type(num1))
print(type(num2))
num3 = num1 / num2
print(num3)
print(type(num3))

<class 'int'>
<class 'int'>
2.0
<class 'float'>

##fractions.Fraction

In [ ]:
from fractions import Fraction
my_fraction = Fraction(8, -10)
print(my_fraction)
print(type(my_fraction))

-4/5
<class 'fractions.Fraction'>

##decimal.Decimal

In [ ]:
from decimal import Decimal
dec_from_float = Decimal(0.1)
dec_from_string = Decimal('0.1')
print(dec_from_float)
print(dec_from_string)

0.1000000000000000055511151231257827021181583404541015625
0.1

##Floating Point Arithmetic: Issues and Limitations

In [ ]:
my_float = float('0.3')
my_sumoffloat = my_float + my_float + my_float
print(my_sumoffloat)
print(my_sumoffloat == Decimal('0.9'))


my_dec = Decimal(.3)
my_sumofdec = my_dec + my_dec + my_dec
print(my_sumofdec)
print(my_sumofdec == Decimal('0.9'))


my_dec = Decimal('0.3')
my_sumofdec = my_dec + my_dec + my_dec
print(my_sumofdec)
print(my_sumofdec == Decimal('0.9'))

0.8999999999999999
False
0.8999999999999999666933092612
False
0.9
True

##Sequence Operations

In [ ]:
#concatenation
a = 'Hello '
print( a + 'World!' )

b = [1 , 2]; c = ['a', 'b']
print( b + c )

Hello World!
[1, 2, 'a', 'b']

In [ ]:
#sequence multiplication
a = 'Hello World!'
print( a * 3 )

b = 1, 2, 3, 4
print( b * 2 )

Hello World!Hello World!Hello World!
(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#membership testing
a = 'Hello World!'
print( 'Hello' in a )

b = [1, 2, 3, 4]
print( 7 in b )

True
False

In [ ]:
#indexing and slicing
b = [1, 2, 3, 4]
print( b[3] + b[-4])

a = 'Hello World!'
print( a[-6:] + a[:5])

5
World!Hello

# 3. Strings

In [ ]:
str1 = 'Hello world!'
str2 = "This is a Python string."
print(str1)
print(str2)
print(type(str1))

Hello world!
This is a Python string.
<class 'str'>

In [ ]:
len(str2)

24

String quotes and escape characters

In [ ]:
#string quotes
print('allows embedded "double" quotes')
print("allows embedded 'single' quotes")
print('''Three single 
quotes''')
print("""Three double 
quotes""")

allows embedded "double" quotes
allows embedded 'single' quotes
Three single
quotes
Three double
quotes
This is multiline statement.
This is multi
line string.

In [ ]:
print("This is multi\
line statement.")
print("""This is multi
line string.""")

This is multiline statement.
This is multi
line string.

In [ ]:
print("this is tab\t.")
print("this is new\nline.")
print("this is backspace\b.")

this is tab	.
this is new
line.
this is backspace.

Accessing elements/substring

In [ ]:
str1 = 'Hello world!'

print(str1[0])
print(str2[10:15])
print(str2[10:])
print(str2[:-10])

H
Pytho
Python string.
This is a Pyth

##Updating string

Python string is immutable. Updating a string produces new string.

In [ ]:
str2 = "This is a Python string."
print(str2.replace('i','_'))
print(str2)

Th_s _s a Python str_ng.
This is a Python string.

In [ ]:
A = "Hello World!"
A[5] = 'a'    #this is error

##String Operators

In [ ]:
#checking containments
str2 = "This is a Python string."
print('x' in str2)
print('x' not in str2)

False
True

In [ ]:
#concatenation 
print(str2 + " You know.")
print(str2)

This is a Python string. You know.
This is a Python string.

In [ ]:
#multiplication --> adding string to itself n times
str1 = 'Hello world!'
print(str1 * 3)
print(3 * str1)

Hello world!Hello world!Hello world!
Hello world!Hello world!Hello world!

In [ ]:
str1 = 'Hello world!'
print("Minimun char in str1: \'"+ min(str1) + "\'")
print("Maximun char in str1: \'"+ max(str1) + "\'")

Minimun char in str1: ' '
Maximun char in str1: 'w'

##String methods

See complete list of methods in https://docs.python.org/3/library/stdtypes.html#string-methods

In [ ]:
#count occurence
str2.count('is')

2

In [ ]:
#change into lowercase
str2.lower()

'this is a python string.'

In [ ]:
#finding first substring occurence
print(str2.find("is"))
print(str2.find("is",5))

2
5

##String Formatting Operators

see complete doc in https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting

In [ ]:
planet = 'Earth'
radius = 6371
print ("The %s radius is %d km!" % (planet,  radius)) 
a = 'Mars'; b = 3389.5
print ("The %s radius is %d km!" % (a,  b)) 
print ("The %s radius is %f km!" % (a,  b))

The Earth radius is 6371 km!
The Mars radius is 3389 km!
The Mars radius is 3.389500e+03 km!

In [ ]:
#the f-string formatter
print(f"The {planet} radius is {radius} km!")

The Earth radius is 6371 km!

In [ ]:
#the format() method
print("The {0} radius is {1} km!".format(planet, radius))
print("The {a} radius is {b} km!".format(a="Mars", b=3389.5))

The Earth radius is 6371 km!
The Mars radius is 3389.5 km!

#4. List

In [ ]:
list1 = ['apple', 'banana', 'strawberry', 100, 100, 200, 10/3];
list1

['apple', 'banana', 'strawberry', 100, 100, 200, 3.3333333333333335]

##Accessing elements

In [ ]:
print(list1[0])
print(list1[3:])
print(list1[:-3])

apple
[100, 100, 200, 3.3333333333333335]
['apple', 'banana', 'strawberry', 100]

##Updating a list

In [ ]:
list1[1] = 'cherry'
list1

['apple', 'cherry', 'strawberry', 100, 100, 200, 3.3333333333333335]

##Deleting element

In [ ]:
#delete by index
del list1[2]
print ("After deleting value at index 2 : ", list1)

After deleting value at index 2 :  ['apple', 'cherry', 100, 100, 200, 3.3333333333333335]

In [ ]:
#delete by item
list1.remove(100)
print ("After deleting value 100 : ", list1)

After deleting value 100 :  ['apple', 'cherry', 100, 200, 3.3333333333333335]

##Appending list

In [ ]:
#Appends object obj to list
list1.append("tomato")
print ("After append  : ", list1)

#Appends the contents of seq to list
list2 = ['red', 'green', 'blue']
list1.extend(list2)
print ("After appends : ", list1)

#Appends list object to list
list1.append(list2)
print ("After appends : ", list1)

After append  :  ['apple', 'cherry', 100, 200, 3.3333333333333335, 'tomato']
After appends :  ['apple', 'cherry', 100, 200, 3.3333333333333335, 'tomato', 'red', 'green', 'blue']
After appends :  ['apple', 'cherry', 100, 200, 3.3333333333333335, 'tomato', 'red', 'green', 'blue', ['red', 'green', 'blue']]

#5. Tuple

In [ ]:
seq1 = []
seq2 = ()

print("Type of seq1 is %s" \
      "\nType of seq2 is %s" % (type(seq1),type(seq2)))

Type of seq1 is <class 'list'>
Type of seq2 is <class 'tuple'>

In [ ]:
tup1 = 'sun', 'mon', 'tue', 1, 2/7, ['a','b']
tup1

('sun', 'mon', 'tue', 1, 0.2857142857142857, ['a', 'b'])

##Accessing tuple elements

In [ ]:
print(tup1[0])
print(tup1[3:])
print(tup1[:-3])

sun
(1, 0.2857142857142857, ['a', 'b'])
('sun', 'mon', 'tue')

##Updating tuple

In [ ]:
#Tuple is immutable, updating is not possible
#tup1[1] = 'sat'
print(tup1)

('sun', 'mon', 'tue', 1, 0.2857142857142857, ['a', 'b'])

##Tuple operations

In [ ]:
#concatenation
print(tup1 + (1,2,3))

#multiplication
print(tup1 * 2)

#len
print(len(tup1))

#check containment
print(1 in tup1)
print(1 not in tup1)

('sun', 'mon', 'tue', 1, 0.2857142857142857, ['a', 'b'], 1, 2, 3)
('sun', 'mon', 'tue', 1, 0.2857142857142857, ['a', 'b'], 'sun', 'mon', 'tue', 1, 0.2857142857142857, ['a', 'b'])
6
True
False

#6. Conditional Statement
##Truth value testing

In [ ]:
#python consider Null, empty sequences, and 0 as False and other as True

print("Nonzero number = {0}, zero number = {1}".format(bool(1), bool(0)))
print("String with value = {0}, empty string = {1}".format(bool('some string'), bool('')))
list1 = []; list2 = [1,2]
print("List with value = {0}, empty list = {1}".format(bool(list2), bool(list1)))
tuple1 =(); tuple2 = 1,2,3
print("Tuple with value = {0}, empty tuple = {1}".format(bool(tuple2), bool(tuple1)))
print("Null value = {0}".format(bool(None)))

Nonzero number = True, zero number = False
String with value = True, empty string = False
List with value = True, empty list = False
Tuple with value = True, empty tuple = False
Null value = False

##Testing operators

In [ ]:
print()

##Combining logic statement

In [ ]:
stat1 = True
stat2 = False
stat3 = 247
stat4 = []

print("[1,2,3] != [3,2,1] = {0}".format([1,2,3] != [3,2,1]))
#print("{1,2,3\} != \{3,2,1\} = {0}".format({1,2,3} != {3,2,1}))
print("True and False = {0}".format(stat1 and stat2))
print("True and 247 = {0}".format(stat3 and stat1))
print("True and empty list = {0}".format(stat4 and stat1))

print(100 and True and 200)

[1,2,3] != [3,2,1] = True
True and False = False
True and 247 = True
True and empty list = []
200

##Simple `if` statement

In [ ]:
statement = True
if statement:
    print('statement is True')
    
if not statement:
    print('statement is not True')

statement is True

In [ ]:
empty_list = []
if empty_list:
    print('empty list is considered True')
    
if not empty_list:
    print('empty list is considered False')

empty list is considered False

##`if-else` statement

In [ ]:
statement = True
if statement:
    print('statement is True')
else:
    print('statement is not True')

statement is True

In [ ]:
zero_num = 0
if zero_num:
    print('zero is considered True')
else:
    print('zero is considered False')

zero is considered False

##nested `if` statement

In [ ]:
mynum = 6
if mynum <= 10:
  print("Less than or equal to 10")
  if mynum != 5:
    if mynum < 5:
      print("Less than 5")
    else:
      print("It's either 6, 7, 8, 9 or 10")
  else:
    print("5")
else:
  print("Greater than 10")
  if (mynum <= 1000):
    print("Less than 1000")
  else:
    print("Pretty big number")

print("print anyway")

Less than or equal to 10
It's either 6, 7, 8, 9 or 10
print anyway

##`elif` statement

In [ ]:
mynum = 60
if mynum <= 5:
  print("Less than or equal to 5")
elif mynum <= 10:
  print("It's either 6, 7, 8, 9 or 10")
elif mynum <= 100:
  print("Between 11 and 1000")
else:
  print("Pretty big number")

Between 11 and 1000

#7. Looping and Iteration
##`while` loop

In [ ]:
a = 0
while a <= 10:
  print("current a : %d" % a)
  a = a + 1

current a : 0
current a : 1
current a : 2
current a : 3
current a : 4
current a : 5
current a : 6
current a : 7
current a : 8
current a : 9
current a : 10

##`for` loop

In [ ]:
my_fruit = ['apple', 'banana', 'strawberry', 'cherry', 'grape']
for i in my_fruit:
  print("Let's eat %s!" % i)

Let's eat apple!
Let's eat banana!
Let's eat strawberry!
Let's eat cherry!
Let's eat grape!

Nested loop for handling list of lists

In [ ]:
transportations = [['plane', 'helicopter', 'hot air balloon'], 
         ['bus', 'train', 'truck', 'car'],
         ['ship', 'boat', 'canoe', 'raft']]

for i in transportations:
  print('these are belong in the same group:')
  for y in i:
    print('\t- %s' % y)

these are belong in the same group:
	- plane
	- helicopter
	- hot air balloon
these are belong in the same group:
	- bus
	- train
	- truck
	- car
these are belong in the same group:
	- ship
	- boat
	- canoe
	- raft

##Truth value testing

In [ ]:
#python consider Null, empty sequence and 0 as False and other as True

print("Nonzero number = {0}, zero number = {1}".format(bool(1), bool(0)))
print("String with value = {0}, empty string = {1}".format(bool('some string'), bool('')))
list1 = []; list2 = [1,2]
print("List with value = {0}, empty list = {1}".format(bool(list2), bool(list1)))
tuple1 =(); tuple2 = 1,2,3
print("Tuple with value = {0}, empty tuple = {1}".format(bool(tuple2), bool(tuple1)))
print("Null value = {0}".format(bool(None)))

Nonzero number = True, zero number = False
String with value = True, empty string = False
List with value = True, empty list = False
Tuple with value = True, empty tuple = False
Null value = False

##Testing operators

In [ ]:
print()

#8. Function
##Simple Function

In [ ]:
#simple function
def hello_world():
  print("Hello World!")

#call the function
hello_world()

Hello World!

In [ ]:
#function with 1 parameter
def hello(name):
  """This function prints out greeting. 
  It received 1 parameter"""
  print("Hello %s!" % name)

#call the function
hello("World")
hello("there")

Hello World!
Hello there!

In [ ]:
#function return value
def plus(num1, num2):
  result = num1 + num2
  print("{0} + {1} = {2}".format(num1,num2,result))
  return result

#call the function
plus(10,3)

10 + 3 = 13

13

In [ ]:
#lambda function
def adds(a,b): 
    return a+b

lambda_adds = lambda a,b: a+b

print(adds(4,5)) # using def function
print(lambda_adds(4,5)) # using lambda function
print((lambda a,b: a+b)(4,5)) # using anonymous lambda function

9
9
9

#9. File Handling

In [ ]:
import os
os.getcwd()
os.listdir('sample_data')

['README.md',
 'anscombe.json',
 'california_housing_test.csv',
 'mnist_train_small.csv',
 'california_housing_train.csv',
 'mnist_test.csv']

In [ ]:
my_file = open('sample_data/README.md')
my_file

In [ ]:
try:
  my_file=open('sample_data/README.md')
finally:
  my_file.close()
  print("close")

close

In [ ]:
with open('sample_data/README.md') as my_file:  #use 'with' statement to make sure file handle closed after finish
  print(my_file.read(30)) #read 30 bytes from the last position
  print(my_file.tell()) #show position in file
  print(my_file.seek(30)) #go to position 30 
  print(my_file.read(35)) #read 35 bytes from the last position
  print(my_file.tell())

  print(my_file.readline()) #read a line (read until finding newline)

  #my_file.seek(0) #go to the beginning of the file
  lines = my_file.readlines()
  for line in lines:
    print(line, end='')

This directory includes a few
30
30
sample datasets to get you started.
65



*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).